Repository vuematerial/vue-material, pull requests merged in 2020-05, with the labels that each got.

#1967 Fix(MdDatepicker): Propagate clear event
  src/components/MdDatepicker/MdDatepicker.vue
Labels: C: MdDatepicker, discussion, in progress, in review

#2081 fix(MdField): fix the character counter not reseting when reseting the form
  docs/app/pages/Components/Input/examples/Counters.vue
  src/components/MdField/MdFieldMixin.js
Labels: C: MdField, in progress, will be approved

#2091 Fix mdButton clicks error in IE11
  src/components/MdRipple/MdRipple.vue
Labels: C: MdRipple, in progress, in review, will be approved

#2090 fix undefined contains method in IE11
  src/components/MdMenu/MdMenuContent.vue
Labels: C: MdMenu, in progress, in review, will be approved

#2183 Allow false as a value for an MdOption
  src/components/MdField/MdSelect/MdOption.vue
Labels: C: MdOption, in progress, ready for merge

#2189 Auto insert in MdChips after focusout
  docs/app/pages/Components/Chips/Chips.vue
  docs/app/pages/Components/Chips/examples/AutoInsert.vue
  src/components/MdChips/MdChips.vue
Labels: C: MdChips, in progress, ready for merge, will be approved

#2211 Fix/md dialog position centered
  src/components/MdDialog/MdDialog.vue
Labels: C: MdDialog, ready for merge, will be approved

#2215 fix(MdStep): set tabindex for not active step
  src/components/MdSteppers/MdStep.vue
Labels: ready for merge

#2214 Util to replace Node.contains
  src/components/MdMenu/MdMenuContent.vue
  src/core/utils/MdContains.js
  yarn.lock
Labels: C: MdMenu, ready for merge
