Repository vuematerial/vue-material, pull requests merged in 2020-04, with the labels that each got.

#2164 [MdTabs] fix mdActiveTab not selecting set tab on load
  src/components/MdTabs/MdTabs.vue
Labels: C: MdTabs, will be approved

#2181 [core] RTL support #80
  src/components/MdTabs/MdTabs.vue
Labels: C: MdTabs, in review, will be approved

#2100 Update the Work With Vue Router page grammar
  docs/app/pages/WithRouter.vue
Labels: in progress, ready for merge, typo, will be approved

#2080 docs: fix typo
  README.md
Labels: in progress, ready for merge, typo, will be approved

#2117 Update About.vue
  docs/app/pages/About.vue
Labels: in progress, ready for merge, typo, will be approved

#2198 docs(Tabs): add prop `md-is-rtl` to tabs table component
  docs/app/pages/Components/Tabs/Tabs.vue
Labels: documentation, feature, in progress, ready for merge

#1819 Fix typo
  docs/app/pages/UiElements/Layout/Layout.vue
Labels: documentation, has merge conflicts, in review, typo, will be approved

#2064 refactor(MdTable): added index to md-table-row slot-scope
  src/components/MdTable/MdTable.vue
Labels: C: MdTable, in progress, ready for merge, will be approved

#2178 Improved grammar in Table.vue (docs)
  docs/app/pages/Components/Table/Table.vue
Labels: in review, ready for merge, typo

#2201 fix(MdMenu): fix to prevent menu click observers on render
  src/components/MdMenu/MdMenuContent.vue
Labels: C: MdMenu, in review, ready for merge, will be approved

#1929 fix(MdApp): Drawer detection
  src/components/MdApp/MdApp.vue
Labels: C: MdApp, bug, in progress, ready for merge, will be approved

#2023 fix(MdDialog):change position principle from transform to flex wrapper
  docs/app/pages/Components/Dialog/examples/DialogCustom.vue
  src/components/MdDialog/MdDialog.vue
  src/components/MdDialog/theme.scss
Labels: C: MdDialog, in progress, ready for merge, will be approved

#2021 fix(MdDialog): fix dialog transitions
  src/components/MdDialog/MdDialog.vue
Labels: C: MdDialog, in progress, ready for merge, will be approved

#2065 fix(MdTabs): prevent overflow inside dialog content
  src/components/MdDialog/MdDialog.vue
Labels: C: MdDialog, in progress, ready for merge, will be approved

#1957 fix(MdApp): remove height 100 to make md-app-content span content height
  src/components/MdApp/MdAppContent.vue
Labels: C: MdApp, in progress, ready for merge, will be approved
